{% extends "base.html" %}
{% load staticfiles %}

{% block title %}詳細検索 - シロボタン{% endblock %}
{% block description %}シロボタンは、電脳少女シロちゃんの声を検索して再生できるWebアプリケーションです。{% endblock %}

{% block content %}

<div class="container col-11 col-md-10 col-lg-8">
  <div class="bg-white-transparent p-3 p-md-4 m-3 m-md-5">
    <p class="lead blockquote text-center text-blue-shadow">
      詳細検索
    </p>
    <!-- main search boxes -->
    <div class="bg-blue-with-transparent p-2 p-sm-3 p-md-4 pl-xl-5 pr-xl-5">
      <form class="form-group" method="get" action="{% url 'sirobutton:lists' %}" enctype="application/x-www-form-urlencoded">
	<!-- content search -->
	<div class="form-group row">
	  <label for="search-text-box" class="col-12 col-sm-3 col-form-label text-small-blue-shadow">
	    字幕から検索
	  </label>
	  <div class="col-12 col-sm-9">
	    <input type="search" name="search" class="search-query form-control" id="search-text-box" placeholder="">
	  </div>
	</div>
	<!-- tag search -->
	<div class="form-group row">
	  <label for="tag-text-box" class="col-12 col-sm-3 col-form-label text-small-blue-shadow">
	    タグから検索
	  </label>
	  <div class="col-12 col-sm-9">
	    <input type="search" name="tag" class="search-query form-control" id="tag-text-box" placeholder="">
	  </div>
	</div>
	<!-- video search -->
	<div class="form-group row">
	  <label for="video-text-box" class="col-12 col-sm-3 col-form-label text-small-blue-shadow">
	    動画タイトル
	  </label>
	  <div class="col-12 col-sm-9">
	    <input type="search" name="video" class="search-query form-control" id="video-text-box" placeholder="">
	  </div>
	</div>
	<!-- submit button -->
	<div class="form-group row justify-content-center">
	  <button class="btn btn-secondary btn-mine" type="submit">
	    検索
	  </button>
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
