{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container bg-white-transparent col-11 col-lg-8 p-3 p-md-5">
  {% if subtitle %}
  <h1 class="h1 m-2 text-blue-shadow">
    {{ subtitle.content }}
  </h1>
  <!-- embed video -->
  <div class="video">
    <iframe id="ytplayer" type="text/html"
	    src="http://www.youtube.com/embed/{{ subtitle.captiontrack.video.video_id }}?start={{ subtitle_time.begin }}&end={{ subtitle_time.end }}"
	    frameborder="0" allowfullscreen>
      Embedded youtube video would've been shown here...
    </iframe>
  </div>

  <div class="m-1">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-text="{{ subtitle.content }}" data-hashtags="SiroButton,SiroTalk" data-url="https://{{ request.get_host }}{% url 'sirobutton:subtitle-detail' subtitle.id %}" data-related="SIROyoutuber" data-lang="ja" >Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <dl class="m-2">
    <dt>タグ</dt>
    <dd>
      <!-- show existing tags -->
      <span id="tags-span">
	{% for tag in subtitle.tags.all %}
	<span id="tag-{{ tag.id }}" class="each-tag m-1">
	  <a class="btn btn-tag btn-with-break btn-sm" role="button" href="{% url 'sirobutton:lists' %}?tag={{ tag.title | urlencode }}">{{ tag.title }}</a>
	  <a class="tag-delete-button" href="#" role="button" onclick="return remove_tag('{{ tag.id }}', '{{ tag.title }}', '{{ subtitle.id }}', '{% url 'sirobutton:remove-tag' %}');">×</a>
	</span>
	{% endfor %}
      </span>
      <!-- add new or existing tags -->
      <form id="add-tag-form" class="inline-form" action="{% url 'sirobutton:add-tag' %}" method="post">
	{% csrf_token %}
	<input id="add-tag-text" type="text" class="form-control p-1">
	<span class="input-group-btn">
	  <button class="btn btn-mine btn-sm" type="submit">
	    +
	  </button>
	</span>
	<span class="hidden" id="subtitle_lists_url">{% url 'sirobutton:lists' %}</span>
	<span class="hidden" id="remove_tag_url">{% url 'sirobutton:remove-tag' %}</span>
	<span class="hidden" id="subtitle_id">{{ subtitle.id }}</span>
      </form>
      <!-- show errors -->
      <button class="btn btn-danger hidden" type="button" id="error-show-button" data-toggle="collapse" data-target="#add-tag-error-collapse">
	エラー
      </button>
      <div class="collapse" id="add-tag-error-collapse">
	<div class="card card-body" id="add-tag-error-body">
	  シロちゃんがかわいすぎます。
	  （ここにエラー文が出るはずなので、この文がそのまま出たら製作者に報告してください。）
	</div>
      </div>
    </dd>
  </dl>

  <dl class="m-2">
    <dt>アクセス数</dt>
    <dd>{{ hitcount.total_hits }}</dd>
    <dt>内容</dt>
    <dd>{{ subtitle.content }}</dd>
    <dt>読み</dt>
    <dd>{{ subtitle.yomi }}</dd>
    <dt>動画タイトル</dt>
    <dd>{{ subtitle.captiontrack.video.title }}</dd>
    <dt>時間</dt>
    <dd>{{ subtitle.begin|time:"H:i:s.u"|slice:":11" }}〜{{ subtitle.end|time:"H:i:s.u"|slice:":11" }}</dd>
    <dt>更新日</dt>
    <dd>{{ subtitle.last_updated|date }}</dd>
  </dl>

  {% else %}
  <p>No subtitle specified.</p>
  {% endif %}

</div>

{% endblock %}
