{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container bg-white-transparent col-11 col-lg-8 p-3 p-md-5">
  <!-- main buttons -->
  {% if tags %}
  <ul class="buttons">
    {% for tag in tags %}
    <li class="text-no-wrap">
      <a class="btn btn-tag btn-with-break btn-sm" role="button" href="{% url 'sirobutton:lists' %}?tag={{ tag.title | urlencode }}">
	{{ tag.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

  {% endif %}

  <nav aria-label="Buttons list pages">
    {% include "share_pagination.html" with url_param="sirobutton:tags" %}
  </nav>

</div>
{% endblock %}
