{% extends "base.html" %}
{% load staticfiles %}

{% block title %}タグ一覧 - シロボタン{% endblock %}
{% block description %}シロボタンは、電脳少女シロちゃんの声を検索して再生できるWebアプリケーションです。このアプリに登録されたタグの一覧を表示します。{% endblock %}

{% block content %}

<div class="container col-11 col-md-10 col-lg-8">
  <div class="bg-white-transparent p-3 p-md-4 m-3 m-md-5" id="tags-view">
    <p class="lead blockquote text-center text-blue-shadow">
      タグ一覧
    </p>
    <!-- main buttons -->
    {% if tags %}
    <ul class="buttons p-1">
      {% for tag in tags %}
      <li class="text-no-wrap">
	<a class="btn btn-tag btn-with-break btn-sm" role="button" href="{% url 'sirobutton:lists' %}?tag={{ tag.title | urlencode }}">
	  {{ tag.title }}
	</a>
      </li>
      {% endfor %}
    </ul>

    {% endif %}

    <nav aria-label="Buttons list pages">
      {% include "share_pagination.html" with url_param="sirobutton:tags" %}
    </nav>
  </div>
</div>
{% endblock %}
