{% extends "sync_base.html" %}
{% load staticfiles %}

{% block title %}アカウント設定{% endblock %}
{% block description %}アカウント設定です。{% endblock %}

{% block content %}

<div class="container bg-white-transparent col-11 col-lg-8 p-3 p-md-5">
  {% if account %}
  <dl class="m-2">
    <dt>id</dt>
    <dd>{{ account.id }}</dd>
    <dt>twitter id</dt>
    <dd>{{ account.twitter_id }}</dd>
    <dt>prefix</dt>
    <dd>{{ account.last_prefix }}</dd>
    <dt>更新日</dt>
    <dd>{{ account.last_updated|date }}</dd>
  </dl>

  {% else %}
  <p>No account specified.</p>
  {% endif %}

</div>

{% endblock %}
