{% extends "sync_base.html" %}
{% load staticfiles %}

{% block title %}設定完了{% endblock %}
{% block description %}設定完了ページ{% endblock %}

{% block content %}

<div class="container col-12 col-sm-11 col-md-10 col-lg-8">
  <div class="bg-white-little-transparent p-3 p-md-4 m-0 mt-3 mb-3 m-sm-3 m-md-5">
    <div class="mb-5">
      <h2 id="hello" class="with-hidden-div">
        設定完了
      </h2>
      <hr class="my-4">
      <p>
        設定が完了しました。ありがとうございます。
      </p>
      <p>
        同期を解除したい場合は、ツイッターの権限設定からこのアプリを解除してください。
      </p>
    </div>
  </div>
</div>

{% endblock %}
