[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
django-hitcount = "*"
"psycopg2-binary" = "*"
django-pure-pagination = "*"
tqdm = "*"

[requires]
python_version = "3.6"
